﻿@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>

<p> Este é um Servidor de Autenticação e Autorização Desacoplado, desenvolvido como trabalho para conclusão do
    Curso de Sistemas de Informação – Centro Universitário UNIFAFIBE

    São responsáveis pelo desenvolvimento do projeto a aluna Hellen Desagiacomo, o aluno Leandro Hilário Campos
    sob orientação do professor e coordenador do curso Walison B. Alves.
</p>