﻿@model IdentityServer4.Models.Client

@{
    ViewData["Title"] = "Alterar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Cliente/Cliente.css" rel="stylesheet" />
<h2>Alterar</h2>

<h4>RegisterViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Alterar">
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control" disabled />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>

            <div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-one">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                Tipos de concessão
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
                        <div class="panel-body list-group-item">

                        @*@foreach (var item in (IEnumerable<KeyValuePair<string, string>>)ViewData["grants"])
                        {
                            <div id="div-@item.Key" class="checkbox list-group-item btn-default div-grant" value="@item.Key">
                                @if (Model.AllowedGrantTypes.Count(g => g == item.Key) > 0)
                                {
                                    <input id="checkbox-@item.Key" value="@item.Key" class="checkbox-grant" type="checkbox" checked>
                                }
                                else
                                {
                                    <input id="checkbox-@item.Key" value="@item.Key" class="checkbox-grant" type="checkbox">
                                }
                                <label class="label-grant" value="@item.Key">@item.Value</label>
                                <br />
                            </div>
                        }*@
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-three">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                                Escopos de Acesso
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-three">
                        <div class="panel-body">
                            Suspendisse ullamcorper massa eget eleifend iaculis.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input onclick="fCliente.AlterarCliente()" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
cc