﻿@model IdentityServer4.Models.Client

@{
    ViewData["Title"] = "Cadastro de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/css/Cliente/Cliente.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script>
    $(document).ready(function () {
        var date_input = $('input[name="data-validade"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>
<h2>Cadastro de Cliente</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="formgroup redirect-uri hidden">
                <label  class="control-label">URI de Redirecionamento - Login</label>
                <input asp-for="RedirectUris" class="form-control" />
            </div>
            <div class="formgroup redirect-uri hidden">
                <label class="control-label">URI de Redirecionamento - Logout</label>
                <input asp-for="PostLogoutRedirectUris" class="form-control" />
            </div>
            @*<div class="form-group">
                    <label asp-for="GrantType" class="control-label"></label>
                    <input asp-for="GrantType" class="form-control" />
                    <span asp-validation-for="GrantType" class="text-danger"></span>
                </div>*@
            @Html.ValidationMessageFor(c => c.AllowedGrantTypes)
            @*<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="collapse-heading-one">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                    Tipos de concessão
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
                            <div class="panel-body list-group-item">
                                @foreach (var item in (IEnumerable<KeyValuePair<string, string>>)ViewData["grants"])
                                {
                                    <div id="div-@item.Key" class="checkbox list-group-item btn-default div-grant" value="@item.Key">
                                        <input id="checkbox-@item.Key" value="@item.Key" type="checkbox" class="checkbox-grant">
                                        <label>@item.Value</label>
                                        <br />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-one">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                Tipos de concessão
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapse-heading-one">
                        <div class="panel-body list-group-item">

                            @foreach (var item in (IEnumerable<KeyValuePair<string, string>>)ViewData["grants"])
                            {
                                <div id="div-@item.Key" class="checkbox list-group-item btn-default div-grant" value="@item.Key">
                                    <input id="checkbox-@item.Key" value="@item.Key" type="checkbox" class="checkbox-grant">
                                    <label>@item.Value</label>
                                    <br />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-two">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                Escopos de Acesso
                            </a>
                            <a type="button" class="btn btn-default glyphicon glyphicon-plus col-sm-offset-5" data-toggle="modal" href="#modal-escopo"></a>
                        </h4>
                    </div>
                    <div id="collapse-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-two">
                        <div class="panel-body">
                            <table class="table" id="table-escopo">
                                <thead id="tabela-escopo-header" class="hidden">
                                    <tr>
                                        <th>Escopo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="table-escopo-body"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapse-heading-three">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-one">
                                Senhas de Acesso
                            </a>
                            <a type="button" class="btn btn-default glyphicon glyphicon-plus col-sm-offset-5" data-toggle="modal" href="#modal-senha"></a>
                        </h4>
                    </div>
                    <div id="collapse-three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-three">
                        <div class="panel-body">
                            <table class="table" id="table-senha">
                                <thead id="tabela-senha-header" class="hidden">
                                    <tr>
                                        <th>Id</th>
                                        <th>Descrição</th>
                                        <th>Validade</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="table-senha-body"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                @*@Html.LabelFor(m => m.GrantType);
                    @Html.DropDownListFor(m => m.GrantType,
                    new SelectList((IEnumerable<KeyValuePair<string, string>>)ViewData["grants"], "Key", "Value"),
                      htmlAttributes: new { @class = "form-control" })*@
            </ul>
            <div class="form-group">
                <input value="Cadastrar" class="btn btn-default" onclick="fCliente.CadastrarCliente()" />
            </div>
        </form>
        <div class="modal fade col-md-offset-5" id="modal-senha">
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>Senhas de Acesso</h3>
                </div>
                <div class="modal-body">
                    <label class="control-label">Senha</label>
                    <input class="form-control" type="password" id="textbox-senha" />
                    <label class="control-label">Descrição</label>
                    <input class="form-control" type="text" id="textbox-senha-descricao" />

                    <div class="container no-padding no-margin">
                        <div class="form-group">
                            <label class="control-label">Válido até</label>
                            <div class="input-group date col-sm-2" id="data-grupo">
                                <input type="text" class="form-control" id="data-validade" name="data-validade" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#modal-senha" class="btn btn-default" data-dismiss="modal">Fechar</a>
                    <a class="btn btn-primary" onclick="fCliente.InserirSenha()">Salvar</a>
                </div>
            </div>
        </div>

        <div class="modal fade col-md-offset-5" id="modal-escopo">
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3>Escopos de Acesso</h3>
                </div>
                <div class="modal-body">
                    <label class="control-label">Escopo</label>
                    <input class="form-control" type="text" id="textbox-escopo" />
                    <label class="control-label">Descrição</label>
                    <input class="form-control" type="text" id="textbox-escopo-descricao" />
                </div>
                <div class="modal-footer">
                    <a href="#modal-escopo" class="btn btn-default" data-dismiss="modal">Fechar</a>
                    <a class="btn btn-primary" onclick="fCliente.InserirEscopo()">Salvar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
<script src="~/js/Views/Cliente/Cliente.js"></script>